<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <!-- Bags, collections //-->
        <parameter key="wiz.parameters" type="collection" />
    </parameters>

    <services>
        <service id="wiz.bag" class="Wisembly\CoreBundle\Domain\Bag" />

        <service id="wiz.redis" class="Wisembly\CoreBundle\Services\Redis\RedisClient" />

        <service id="wiz.context.initializer" class="Wisembly\Behat\Extension\Context\Initializer\WizInitializer">
            <argument type="service" id="wiz.bag" />
            <argument>%wiz.parameters%</argument>

            <tag name="context.initializer" />
        </service>

        <service id="wiz.context.api.initializer" class="Wisembly\Behat\Extension\Context\Initializer\ApiInitializer">
            <argument type="service" id="wiz.guzzle.http" />
            <argument type="service" id="wiz.guzzle.history" />
            <argument type="service" id="wiz.guzzle.auth" />
            <argument type="service" id="wiz.bag" />

            <tag name="context.initializer" />
        </service>
    </services>
</container>
