default:
  suites:
    main:
      paths: [%paths.base%/features/specs]
      services: "@Behapi\Container"

      contexts:
        - Behapi\Context\Http: ~
        - Behapi\Context\Json: ~

  extensions:
    Behapi\Behapi:
      debug:
        formatter: pretty
        headers:
          request:
            - Content-Type

          response:
            - Content-Type

      base_url: 'http://localhost'
