default:
  suites:
    main:
      paths: [%paths.base%/features/specs]
      contexts:
        - Behapi\Context\Rest
        - Behapi\Context\Json
        - Behapi\Context\DebugRest

  extensions:
    Behapi\Extension\Behapi:
      environment: dev
      debug_formatter: pretty
      base_url: 'http://localhost/app_dev.php/'

