parameters:
  level: max
  paths: 
    - src

  ignoreErrors:
    # have to ignore it, because Symfony config works like that and I'm waaay
    # too lazy to properly structure the node builders just to add some asserts
    # and stuff like that for (almost) every line.
    - '{^Cannot call method arrayNode\\() on Symfony\Component\Config\Definition\Builder\NodeParentInterface|null.$}'

    # Waiting for https://github.com/beberlei/assert/pull/264 to be merged
    # and released, so that this ignore pattern can be removed.
    - '{^Parameter #3 \\$offset of function mb_strpos expects int, null given.$}'
    - '{^Parameter #1 \$format of function sprintf expects string, string|null given.$}'

    # phpstan doesn't detect well assertions with function_exists,
    # method_exists and class_exists, so we have to ignore them...
    - '{^Function is_countable not found.$}'

  includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
